<template>
  <footer>
    <section class="callout">
      <h2>
        "I like my money right where I can see it: hanging in my closet."
      </h2>
      <p>Carrie Bradshaw</p>
    </section>

    <app-footer-links />
  </footer>
</template>

<script>
import AppFooterLinks from '~/components/AppFooterLinks.vue'

export default {
  components: {
    AppFooterLinks,
  },
}
</script>

<style lang="scss" scoped>
.callout {
  width: 100%;
  height: 280px;
  background: url('/common/callout.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;

  h2 {
    padding: 0 30px;
    text-align: center;
  }
}

a,
a:visited,
a:active {
  color: #c4c3ec;
  font-weight: bold;
}

@media screen and (max-width: 550px) {
  .callout {
    margin-top: 2rem;
  }
}
</style>
