<template>
  <section>
    <ul>
      <li>
        <a class="brand" href="https://web.facebook.com/toko.budu">
          <fa-icon :icon="['fab', 'facebook']" />Facebook
        </a>
      </li>
      <li>
        <a class="brand" href="https://www.instagram.com/toko.budu">
          <fa-icon :icon="['fab', 'instagram']" />Instagram
        </a>
      </li>
    </ul>
  </section>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
section {
  width: 80%;
  margin-left: 10%;
  padding: 40px 0;
}

ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding-left: 0;
}

input {
  width: 100%;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

@media screen and (min-width: 850px) {
  section {
    padding: 40px !important;
  }
}
</style>
