<template>
  <section>
    <h2>
      <span>Featured Products</span>
    </h2>
    <div class="featured-items">
      <div class="item" v-for="product in featuredProducts" :key="product.id">
        <img :src="`/products/${product.img}`" />

        <h3>{{ product.name }}</h3>
        <div class="price">
          <h4>{{ product.price | rupiah }}</h4>
          <h4 v-if="product.normalPrice" class="normal">
            {{ product.normalPrice | rupiah }}
          </h4>
        </div>

        <NuxtLink :to="`/product/${product.id}`">
          <button class="multi-item">View Item ></button>
        </NuxtLink>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  computed: {
    featuredProducts() {
      return this.$store.getters.featuredProducts
    },
  },
}
</script>

<style lang="scss" scoped>
section {
  margin-top: 60px;
}

.featured-items {
  width: 100%;
  margin: 20px 0 70px;

  .item {
    padding: 10px 20px 30px;
    min-height: 150px;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
}

h4 {
  color: #d96528;
  margin: 10px 0;
}

h2 {
  color: #d96528;
  text-align: center;
  overflow: hidden;
}
h2 span {
  display: inline-block;
  position: relative;
}
h2 span:after,
h2 span:before {
  content: ' ';
  display: block;
  height: 1px;
  width: 1000px;
  background: #e6baa4;
  position: absolute;
  top: 50%;
}
h2 span:before {
  left: -1010px;
}
h2 span:after {
  right: -1010px;
}

.price {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: -1rem;

  .normal {
    color: #959595;
    text-decoration: line-through;
  }
}

@media screen and (max-width: 699px) {
  .featured-items {
    width: 83vw;
    margin-left: 6.15vw;

    div {
      padding: 10px 20px;
    }
  }

  img {
    width: 16rem;
  }
}

@media screen and (min-width: 700px) {
  .featured-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;

    div {
      padding: 40px 50px;
    }
  }

  img {
    width: 16rem;
  }

  .multi-item {
    margin-top: -2rem;
  }
}
</style>
