<template>
  <svg
    height="100px"
    width="100px"
    fill="#000000"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 100 100"
  >
    <g fill="#ccc">
      <path
        d="M87.965,29.271l-19.02,10.99l-9-5.2c-0.78-0.45-1.68-0.57-2.55-0.33c-0.601,0.16-1.13,0.49-1.561,0.93l1.891-7.569  c1.319-3.521,4.979-5.63,8.63-5.03L87.965,29.271z"
      />
      <path
        d="M81.505,50.69l5.431,21.83l-19.03-10.99v-10.39c0-1.58-1.1-2.9-2.57-3.25l7.5-2.16C76.556,45.131,80.205,47.23,81.505,50.69  z"
      />
      <path
        d="M74.565,44.66c-0.641-0.04-1.29-0.01-1.95,0.101l-20.52,5.899c0.01-0.02,0.02-0.04,0.02-0.06c0.01-0.03,0.02-0.04,0.03-0.07  l2.91-11.7l1.17-2.04c0.319-0.55,0.819-0.939,1.43-1.1s1.24-0.08,1.79,0.24L74.565,44.66z"
      />
      <path
        d="M66.905,51.141v17.46c-0.29-0.57-0.64-1.12-1.06-1.63l-15.36-14.82c0.03,0,0.05-0.01,0.08-0.02c0.01,0,0.03,0,0.04-0.011  l11.6-3.33h2.351C65.855,48.79,66.905,49.841,66.905,51.141z"
      />
      <path
        d="M65.115,67.641c2.38,2.91,2.38,7.13,0.04,10L48.965,93.25V71.271l9-5.19c1.37-0.79,1.96-2.399,1.53-3.85L65.115,67.641z"
      />
      <path
        d="M58.325,62c0.65,1.12,0.26,2.57-0.86,3.211l-15.149,8.75c0.35-0.54,0.68-1.12,0.92-1.75l5.14-20.721  c0.03,0.03,0.05,0.061,0.08,0.09c0,0,0,0.011,0.01,0.011l8.69,8.38L58.325,62z"
      />
      <path
        d="M42.535,34.79l15.12-8.729c-0.35,0.53-0.65,1.11-0.89,1.729l-5.15,20.721c-0.02-0.03-0.04-0.061-0.07-0.08  c0-0.01,0-0.021-0.01-0.021l-8.689-8.38L41.675,38c-0.319-0.55-0.399-1.18-0.239-1.789C41.605,35.61,41.985,35.101,42.535,34.79z"
      />
      <path
        d="M51.035,6.75v21.971l-9,5.2c-0.78,0.449-1.33,1.17-1.56,2.029c-0.17,0.61-0.15,1.24,0.029,1.82l-5.62-5.41  c-2.38-2.91-2.38-7.13-0.039-10L51.035,6.75z"
      />
      <path
        d="M49.516,47.851c-0.03,0-0.051,0.01-0.08,0.02c-0.011,0-0.03,0-0.051,0.011l-11.59,3.33h-2.35c-1.3,0-2.35-1.051-2.35-2.351  V31.4c0.289,0.57,0.64,1.12,1.06,1.63L49.516,47.851z"
      />
      <path
        d="M47.905,49.341c-0.01,0.029-0.021,0.05-0.03,0.069c0,0.021-0.02,0.03-0.02,0.061l-2.91,11.71l-1.17,2.03  c-0.65,1.119-2.09,1.51-3.22,0.859l-15.15-8.74c0.17,0.011,0.33,0.03,0.5,0.03c0.49,0,0.979-0.04,1.47-0.12L47.905,49.341z"
      />
      <path
        d="M44.155,64.341l-1.88,7.569c-1.32,3.521-4.98,5.63-8.63,5.03l-21.61-6.21l19.021-10.99l9,5.2c0.52,0.3,1.09,0.45,1.67,0.45  c0.29,0,0.59-0.04,0.88-0.12C43.205,65.11,43.735,64.78,44.155,64.341z"
      />
      <path
        d="M34.665,52.11l-7.51,2.16c-3.7,0.61-7.36-1.5-8.67-4.96l-5.42-21.83l19.03,10.99v10.39  C32.096,50.44,33.195,51.761,34.665,52.11z"
      />
      <path
        d="M49.995,49.141c-0.469,0-0.85,0.386-0.85,0.859c0,0.475,0.381,0.86,0.85,0.86c0.475,0,0.86-0.386,0.86-0.86  C50.855,49.526,50.47,49.141,49.995,49.141z"
      />
    </g>
  </svg>
</template>

<script>
import { TimelineMax, Elastic } from 'gsap'

export default {
  methods: {
    loadAnim() {
      TweenMax.staggerFromTo(
        'path',
        1.25,
        {
          opacity: 0,
          scale: 0,
          transformOrigin: '50% 50%',
        },
        {
          opacity: 1,
          scale: 1,
          repeat: -1,
          repeatDelay: 0.5,
          transformOrigin: '50% 50%',
          ease: Elastic.easeOut.config(1, 0.4),
        },
        0.02
      )
    },
  },
  mounted() {
    this.loadAnim()
  },
}
</script>

<style lang="scss" scoped></style>
