<template>
  <div class="storegrid">
    <transition-group name="items" tag="section" class="content">
      <div v-for="item in filteredPrice" :key="item.id" class="item">
        <div class="img-contain">
          <NuxtLink :to="`product/${item.id}`">
            <img :src="`/products/${item.img}`" />
          </NuxtLink>
        </div>

        <h3>{{ item.name }}</h3>
        <div class="price">
          <h4 v-if="item.normalPrice" class="normal">
            {{ item.normalPrice | rupiah }}
          </h4>
          <h4>{{ item.price | rupiah }}</h4>
        </div>

        <NuxtLink :to="`product/${item.id}`">
          <button class="multi-item">View Item ></button>
        </NuxtLink>
      </div>
    </transition-group>

    <div v-if="!filteredPrice.length">
      <h5 class="no-product">Tidak ada produk yang tersedia</h5>
    </div>

    <!-- <aside>
      <h3>Filter by Price:</h3>
      <p style="margin-top: 5px">
        Price
        <strong>{{ currentValue | rupiah }}</strong>
      </p>

      <input
        class="slider"
        id="priceRange"
        type="range"
        v-model="priceRange"
        :min="minPrice"
        :max="maxPrice"
        step="1000"
        @change="setCurrentValue"
      />
      <span class="min">{{ minPrice | rupiah }}</span>
      <span class="max">{{ maxPrice | rupiah }}</span>
    </aside> -->
  </div>
</template>

<script>
export default {
  components: {},
  props: {
    data: {
      required: true,
    },
  },
  data() {
    return {
      priceRange: 999999999,
      currentValue: 999999999,
    }
  },
  computed: {
    filteredPrice() {
      return this.data.filter((el) => el.price <= this.priceRange)
    },
    minPrice() {
      return Math.min.apply(
        Math,
        this.data.map(function(o) {
          return o.price
        })
      )
    },
    maxPrice() {
      return Math.max.apply(
        Math,
        this.data.map(function(o) {
          return o.price
        })
      )
    },
  },
  methods: {
    setCurrentValue: function(event) {
      this.currentValue = event.target.value
    },
  },
  created() {
    const dummyEvent = {
      target: {
        value: this.maxPrice,
      },
    }
    this.setCurrentValue(dummyEvent)
  },
}
</script>

<style lang="scss" scoped>
.content {
  height: 100%;
  width: 100%;
}

.img-contain {
  max-width: 16.25rem;
  display: flex;
  align-content: center;
  align-items: center;

  img {
    width: 100%;
  }
}

.price {
  display: flex;
  justify-content: center;
  gap: 1rem;

  .normal {
    color: #959595;
    text-decoration: line-through;
  }
}

.item {
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

.multi-item {
  margin-top: 1rem;
}

.no-product {
  text-align: center;
}

aside {
  height: 100%;
  width: 100%;
}

.max {
  display: inline-block;
  float: right;
}

@media screen and (max-width: 550px) {
  .img-contain {
    img {
      width: 16rem;
    }
  }

  .no-product {
    text-align: center;
    margin-top: 2rem;
  }

  aside {
    padding: 0 2rem;
    margin-top: 2rem;
  }
}
</style>
