<template>
  <hooper :settings="settings">
    <slide v-for="(slide, index) in slides" :key="index" :index="index">
      <img class="hooper-img" :src="slide.thumbnail" />
    </slide>

    <hooper-pagination slot="hooper-addons"></hooper-pagination>
  </hooper>
</template>

<script>
import { Hooper, Slide, Pagination as HooperPagination } from 'hooper'
import 'hooper/dist/hooper.css'

export default {
  name: 'App',
  components: {
    Hooper,
    Slide,
    HooperPagination,
  },
  props: {
    slides: {
      type: Array,
      required: true,
    },
    settings: {
      type: Object,
      required: false,
      default() {
        return {
          itemsToShow: 1,
          infiniteScroll: 'true',
          autoPlay: 'true',
          playSpeed: '2500',
        }
      },
    },
  },
}
</script>

<style lang="scss" scoped>
.hooper {
  height: auto;
}

.hooper-img {
  max-width: 100%;
  max-height: 100%;
}
</style>
