<template>
  <div>
    <section class="item-contain">
      <section class="slider">
        <carousel :slides="product.images" />
      </section>

      <section class="product-basic-info">
        <h1>{{ product.name }}</h1>

        <div class="price">
          <h4 v-if="product.normalPrice" class="normal">
            {{ product.normalPrice | rupiah }}
          </h4>
          <h4>{{ product.price | rupiah }}</h4>
        </div>

        <div class="product-options">
          <!-- <div class="quantity">
            <button
              class="update-num"
              @click="quantity > 0 ? quantity-- : (quantity = 0)"
            >
              -
            </button>
            <input class="quantity-num" type="number" v-model="quantity" />
            <button class="update-num" @click="quantity++">+</button>
          </div> -->

          <!-- <div v-if="product.sizes" class="size">
            <select
              v-model="size"
              class="size-picker"
              @change="showSizeRequiredMessage = false"
            >
              <option :value="null" disabled hidden>Size</option>
              <option
                v-for="(size, key) in product.sizes"
                :key="key"
                :value="size"
                >{{ size }}</option
              >
            </select>
          </div> -->
        </div>

        <!-- <p v-if="showSizeRequiredMessage" class="size-required-message">
          Please choose a size
        </p> -->

        <!-- <p>
          Available in additional colors:
          <strong>
            <span :style="`color: ${product.color}`">{{ product.color }}</span>
          </strong>
        </p> -->

        <p class="cta">
          <button class="button chat" @click="chat">
            <img src="/common/iconmonstr-whatsapp-1.svg" /> Tanya Kami
          </button>
          <button class="button purchase" @click="checkOut">
            Beli Sekarang
          </button>
        </p>

        <hr />

        <p class="description">
          <strong>Deskripsi</strong>
        </p>

        <p
          v-for="(description, key) in product.description"
          :key="key"
        >
          {{ description }}
        </p>
      </section>
    </section>

    <section class="product-additional-info">
      <p v-if="product.features.length" class="features">
        <strong>Fitur</strong>
      </p>

      <p v-for="(feature, key) in product.features" :key="key" class="feature">
        ✅ {{ feature }}
      </p>

      <p v-if="product.benefits.length" class="benefits">
        <strong>Kelebihan</strong>
      </p>

      <p v-for="(benefit, key) in product.benefits" :key="key" class="benefit">
        ✅ {{ benefit }}
      </p>

      <div class="promo">
        <h1>Ayo Buruan, Sebelum Kehabisan!! Gratis Ongkir Lho!!!</h1>
      </div>

      <div class="note">
        Status pengiriman dapat dicek setiap saat melalui website jasa
        pengiriman. Nomor resi pengiriman barang akan dikirimkan via WhatsApp
        kepada Anda.
      </div>
    </section>

    <!-- <hr />
    <div class="review">
      <h2>Reviews</h2>
      <p>{{ product.review }}</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum iusto
        placeat consequatur voluptas sit mollitia ratione autem, atque sequi
        odio laborum, recusandae quia distinctio voluptatibus sint, quae aliquid
        possimus exercitationem.
      </p>
    </div> -->

    <!-- <app-featured-products /> -->
  </div>
</template>

<script>
import { mapState } from 'vuex'
import AppFeaturedProducts from '~/components/AppFeaturedProducts.vue'
import Carousel from '~/components/Carousel.vue'

export default {
  components: {
    AppFeaturedProducts,
    Carousel,
  },
  data() {
    return {
      id: this.$route.params.id,
      quantity: 1,
      size: null,
      showSizeRequiredMessage: false,
      tempcart: [], // this object should be the same as the json store object, with additional params, quantity and size
    }
  },
  computed: {
    ...mapState(['storedata']),
    product() {
      return this.storedata.find((el) => el.id === this.id)
    },
  },
  methods: {
    cartAdd() {
      if (this.product.sizes && !this.size) {
        this.showSizeRequiredMessage = true
        return
      }

      let item = this.product
      item = {
        ...item,
        quantity: this.quantity,
        size: this.size,
      }
      this.tempcart.push(item)
      this.$store.commit('addToCart', { ...item })
    },
    chat() {
      const url = 'https://api.whatsapp.com/send?phone=6285156780969'
      const message = encodeURIComponent(
        `Halo kak, mau tanya tentang produknya dong... Produk ${this.product.name}. `
      )
      window.open(`${url}&text=${message}`)
    },
    checkOut() {
      window.open(this.product.checkOutUrl, '_self')
    },
  },
}
</script>

<style lang="scss" scoped>
.slider {
  width: 24rem;
  height: 24rem;
  text-align: center;
  margin: 0 2rem 0 -2rem;
}

.item-contain {
  margin-left: 8%;
  width: 80%;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr 2fr;
}

.product-options {
  display: flex;
  margin-top: 0.5rem;
}

.product-additional-info {
    margin: 0 2rem;

    h1 {
      font-size: 1.1rem;
      font-weight: 600;
      text-align: center;
    }

    h4 {
      font-size: 1.1rem;
      font-weight: 600;
      text-align: center;
    }

    p {
      text-align: justify;
      text-justify: inter-word;
    }

    .feature {
      margin: 0.2rem 0;
    }

    .benefit {
      margin: 0.2rem 0;
    }
  }

input,
select {
  width: 60px;
  font-size: 25px;
  margin: 0 5px;
  padding: 5px 10px;
}

.update-num {
  background: black;
  border-color: black;
  color: white;
  font-size: 20px;
  width: 45px;
}

.size {
  margin-left: 10px;
}

.price {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: -1.5rem;

  .normal {
    color: #959595;
    text-decoration: line-through;
  }
}

.size-picker {
  width: 130px;
  font-size: 20px;
  height: 100%;
  background-color: white;
  outline: 1px solid #ccc;
  outline-offset: -1px;
}

.cta {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 10px;

  .chat {
    height: 3rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    color: #00bfa5;
  }

  .purchase {
    height: 3rem;
  }
}

.quantity {
  display: flex;
}

.size-required-message {
  color: red;
}

.promo {
    text-align: justify;
    text-justify: inter-word;
    color: #c14103;
    background: #fffbe2;
    margin: 2rem -1rem 0.5rem -1rem;
    padding: 2rem;
  }

  .note {
    text-justify: inter-word;
    background: #f9f9f9;
    margin: 0.5rem -1rem;
    padding: 2rem;
  }

@media screen and (max-width: 650px) {
  .slider {
    width: 100%;
    height: 100%;
    margin: 2rem 0 0 0;
  }

  .item-contain {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    margin-left: 0 !important;
  }

  .product-basic-info {
    h1 {
      font-size: 1.1rem;
      font-weight: 600;
      text-align: center;
    }

    h4 {
      font-size: 1.1rem;
      font-weight: 600;
      text-align: center;
    }

    p {
      text-align: justify;
      text-justify: inter-word;
    }

    .description {
      margin-top: 2rem;
    }
  }

  .price {
    justify-content: center;
    margin-top: 0;
  }

  .size-picker {
    width: 156px;
    font-size: 1rem;
  }

  .cta {
    display: flex;
    flex-direction: column;
    gap: 1px;

    .chat {
      width: 100%;
      margin-bottom: 10px;
    }

    .purchase {
      width: 100%;
    }
  }



  .review {
    width: 100%;
    padding: 0 2rem;
  }
}
</style>
